{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Classement des Villes avec le plus haut taux de criminalité {% endblock %}</h1>
    {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <h2>{{ post['nom'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Modifier</span>
        </a>
        <hr>

    {% endfor %}
{% endblock %}
